//- layout.pug
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Canvas Theme
    block head_styles
      link(rel='stylesheet', href='/assets/css/main.css')
    block head_scripts
  body
    include ../_partials/header.pug
    .container-fluid
      .row.full-content-height.align-items-center
        .col-md-12
          .main-content
            block content
    include ../_partials/footer.pug
    block foot_scripts
      script(src='/assets/js/vendor-min.js')
      script(src='/assets/js/main.js')