.slider-wrapper {
    position: relative;
    width: 100%;
    img {
        width: 100%;
        height: 100vh;
    }
    .slider__caption {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        h2 {
            color: white;
            font-size: 4rem;
        }
    }
}