$background-color: #fff;
$background-color-2: #f9f9f9;
$lg-header-bgcolor: transparent;
$md-header-bgcolor: #333;
$rolled-header-bgcolor: white;
$footer-color: #333;
$copyrights-color: #292929;
$lg-menu-heading-text-color: #eee;
$md-menu-heading-text-color: #eee;
$heading-border-color: rgba(255,255,255,.2);
$lg-screen: 992px;
$md-screen: 768px;
$sm-screen: 576px;
$heading-text-color: #333;
$text-color : #555;
$desc-text-color: #999;