$background-color-2: f9f9f9;
$lg-header-bgcolor: transparent;
$rolled-header-bgcolor: white;
$md-header-bgcolor: #333;
$footer-color: #333;
/* $menu-heading-text-color: #eee; */
$menu-heading-text-color: black;