/* @import 'bootstrap'; */
@import './_variables.postcss';
@import './_theme.postcss';
@import './_header.postcss';
@import './_footer.postcss';
@import './_slider.postcss';
@import './_animate.css';
@import './_wellcome.postcss';
@import './_description-01.postcss';
@import './_even-more.postcss';
@import './_videos.postcss';
@import './_number.postcss';
@import './_list.postcss';
@import './_device.postcss';

.content-wrapper {
    padding: 80px 0px;
}