/* @import 'bootstrap'; */
header .nav-wrapper {
  background: rgb(194, 0, 0);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
}
.full-content-height {
  min-height: calc(100vh - 110px);
}
footer {
  text-align: center;
  background: #eee;
}
footer .row {
    height: 54px;
  }
footer p {
    margin-bottom: 0;
  }
p span {
    color: red;
  }
.test-class {
  color: red;
}