#brands
    .brands-wrapper
        .auto-slider
            div.image-wrapper
                img(src="../assets/img/clients01.png", alt="brands-pic")   
            div.image-wrapper
                img(src="../assets/img/clients02.png", alt="brands-pic")   
            div.image-wrapper
                img(src="../assets/img/clients03.png", alt="brands-pic")   
            div.image-wrapper
                img(src="../assets/img/clients04.png", alt="brands-pic")   
            div.image-wrapper
                img(src="../assets/img/clients05.png", alt="brands-pic")   
            div.image-wrapper
                img(src="../assets/img/clients06.png", alt="brands-pic")   
            div.image-wrapper
                img(src="../assets/img/clients07.png", alt="brands-pic")   
            div.image-wrapper
                img(src="../assets/img/clients08.png", alt="brands-pic")   
            div.image-wrapper
                img(src="../assets/img/clients09.png", alt="brands-pic")   
            div.image-wrapper
                img(src="../assets/img/clients10.png", alt="brands-pic")   