.clients
    .clients-wrapper
        .block-heading
            h3 What clients say
        .clients__slider
            .clients__slider-item
                img(src="../assets/img/author01.jpg", alt="author-pic")
                p.clients__item-heading
                    | Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?
                .clients__item_author
                    p.author-name Steve Jobs
                    p.author-company Apple Inc.
            .clients__slider-item
                img(src="../assets/img/author02.jpg", alt="author-pic")
                p.clients__item-heading
                    | Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.
                .clients__item_author
                    p.author-name Collis Ta'eed
                    p.author-company Envato Inc.
            .clients__slider-item
                img(src="../assets/img/author03.jpg", alt="author-pic")
                p.clients__item-heading
                    | Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!
                .clients__item_author
                    p.author-name John Doe
                    p.author-company XYZ inc.