#description-01
    .description-01-wrapper
        .container
            .row
                .col-lg-4
                    i.fas.fa-desktop
                    .heading-block
                        span Scalable on Devices.
                        h4 Responsive & Retina
                    p 
                        |   Employment respond committed meaningful fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.
                .col-lg-4
                    i.fas.fa-bolt
                    .heading-block
                        span Scalable on Devices.
                        h4 Responsive & Retina
                    p 
                        |   Employment respond committed meaningful oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.
                .col-lg-4
                    i.fas.fa-sliders-h
                    .heading-block
                        span Scalable on Devices.
                        h4 Responsive & Retina
                    p 
                        |   Employment respond committed fight against oppression social challenges rural legal aid governance. Meaningful work, implementation, process cooperation, campaign inspire.
