#device
    .device-wrapper
        .container
            .row
                .col-md-4.col-sm-12.image
                    img(src="../assets/img/iphone6.png", alt="iphone-6")
                .col-md-8.col-sm-12
                    h3 Optimized for Mobile & Touch Enabled Devices.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!
                    p.last Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam.
                    span.button Learn more