#even-more.even-more-wrapper
    .container
        .row
            .heading-block
                h2 Even more Feature Rich
                span Philanthropy convener livelihoods, initiative end hunger gender rights local. John Lennon storytelling; advocate, altruism impact catalyst.
        .row
            .col-lg-4.col-md-6
                .feature-box.feature-box_right
                    .feature-box__icon
                        i.far.fa-heart
                    h3
                        | Boxed & Wide Layouts
                    p
                        | Stretch your Website to the Full Width or make it boxed to surprise your visitors.
                .feature-box.feature-box_right
                    .feature-box__icon
                        i.far.fa-heart
                    h3
                        | Boxed & Wide Layouts
                    p
                        | Stretch your Website to the Full Width or make it boxed to surprise your visitors.
                .feature-box.feature-box_right
                    .feature-box__icon
                        i.far.fa-heart
                    h3
                        | Boxed & Wide Layouts
                    p
                        | Stretch your Website to the Full Width or make it boxed to surprise your visitors.
            .col-lg-4.d-md-none.d-lg-block.middle-img
                img(src="../assets/img/iphone7.png", alt="iphone-pic")
            .col-lg-4.col-md-6
                .feature-box
                    .feature-box__icon
                        i.far.fa-heart
                    h3
                        | Boxed & Wide Layouts
                    p
                        | Stretch your Website to the Full Width or make it boxed to surprise your visitors.
                .feature-box
                    .feature-box__icon
                        i.far.fa-heart
                    h3
                        | Boxed & Wide Layouts
                    p
                        | Stretch your Website to the Full Width or make it boxed to surprise your visitors.
                .feature-box
                    .feature-box__icon
                        i.far.fa-heart
                    h3
                        | Boxed & Wide Layouts
                    p
                        | Stretch your Website to the Full Width or make it boxed to surprise your visitors.