footer
  .footer-wrapper
    .container.footer__info
      .row
        .col-md-3.col-sm-12
          img.footer__logo(src="../assets/img/footer-widget-logo.png", alt="footer-logo")
          p We believe in Simple Creative Flexible  Design Standards.
          .footer__contact
            address.footer__contact-address
              strong Headquarters:
              br
              | 795 Folsom Ave, Suite 600
              br
              | San Francisco, CA 94107
            .footer__contact-info
              p
                strong Phone:
                  span (08)816652546
              p    
                strong Fax:
                  span (08)111997789
              p    
                strong Email:
                  span kydat.nguyen@gmail.com
        .col-md-2.col-sm-12
          h4 Blogroll
          ul
            li Document
            li Feedback
            li Plugins
            li Support Forums
            li Themes
            li Worldpress Blog
            li Facebook
        .col-md-3.col-sm-12
          h4 Recent posts
          .post
            p Lorem ipsum dolor sit amet, consectetur
            p.date 10th July 2014
          .post
            p Elit Assumenda vel amet dolorum quasi
            p.date 10th July 2014
          .post
            p Debitis nihil placeat, illum est nisi
            p.date 10th July 2014
        .col-md-4.col-sm-12
          .row.total-downloads
            .col-lg-6.col-md-12.col-sm-12
              span 15,065,421
              h5 Total Downloads
            .col-lg-6.col-md-12.col-sm-12
              span 18.465
              h5 Clients
          h5.subscribe-text Subscribe to Our Newsletter to get Important News, Amazing Offers & Inside Scoops:
          .subscribe-form
            form.form-inline
              input.form-control.mb-10(type='text', placeholder='Enter your email')
              button.btn.btn-success.mb-10(type='submit') Subscribe
          .footer__social.row
            .col-md-6.col-sm-12.d-flex.mb-10
              .footer__social-icon.icon-face-book
                i.fab.fa-facebook-f
              span Like us
                br 
                | on Facebook
            .col-md-6.col-sm-12.d-flex.mb-10
              .footer__social-icon.icon-srr
                i.fas.fa-rss
              span Subscribe
                br 
                | to SRR Feeds
    .copyrights
      .container.copyrights__content
        .row
          .col-md-6.copyrights__info
            p 
              | Copyrights © 2014 All Rights Reserved by Canvas Inc.
            p
              | Terms of Use / Privacy Policy
          .col-md-6.copyrights__social
            .copyrights__social-icon
              p
                i.fab.fa-facebook-square
                i.fab.fa-youtube
                i.fab.fa-google-plus-g
                i.fab.fa-github-square
                i.fab.fa-invision
                i.fab.fa-pinterest-square
            .copyrights__social-info
              p
                i.fab.fa-facebook-square
                span Nguyen Tien Dat
                i.fab.fa-google-plus-g
                span 0777330000
                i.fab.fa-invision
                span IvanNguyen.vn
