footer
  .footer-wrapper
    .container

    .copyrights
      .container.copyrights__content
        .row
          .col-md-6.copyrights__info
            p 
              | Copyrights © 2014 All Rights Reserved by Canvas Inc.
            p
              | Terms of Use / Privacy Policy
          .col-md-6.copyrights__social
            .copyrights__social-icon
              p
                i.fab.fa-facebook-square
                i.fab.fa-youtube
                i.fab.fa-google-plus-g
                i.fab.fa-github-square
                i.fab.fa-invision
                i.fab.fa-pinterest-square
            .copyrights__social-info
              p
                i.fab.fa-facebook-square
                span Nguyen Tien Dat
                i.fab.fa-google-plus-g
                span 0777330000
                i.fab.fa-invision
                span IvanNguyen.vn
