header
  .header-wrapper
    .container.header-container
      //- menu-trigger-button
      a#menu-trigger-button
        i.fas.fa-align-justify
      //- logo
      #logo
        a(class="white-logo" href="index.html")
          img(src="assets/img/white-logo.png", alt="white-logo")  
      //- header-menu
      .nav-wrapper
        nav#header-menu
          ul
            li.sub-menu
              a(href='#') Home
              ul.sub-menu__content
                li.has-sub-menu
                  a(href='#') Home - Corporate
                  ul.sub-menu__content
                    li
                      a(href='#')
                        |  Corporate - Layout 1
                    li
                      a(href='#')
                        |  Corporate - Layout 2
                    li
                      a(href='#')
                        |  Corporate - Layout 3
                    li
                      a(href='#')
                        |  Corporate - Layout 4
                li
                  a(href="#") Home - Blog
                li
                  a(href="#") Home - Portfolio
                li.has-sub-menu
                  a(href='#') Home - Fullscreen
                  ul.sub-menu__content
                    li
                      a(href='#') 
                        |  Fullscreen - Layout 1
                    li
                      a(href='#')
                        |  Fullscreen - Layout 2
                    li
                      a(href='#')
                        |  Fullscreen - Layout 3
                    li
                      a(href='#')
                        |  Fullscreen - Layout 4
                li
                  a(href="#") Home - Event
                li
                  a(href="#") Home - Wedding 
                li
                  a(href="#") Home - Party
            li.sub-menu
              a(href='#') Features
              ul.sub-menu__content
                li.has-sub-menu
                  a(href='#') Home - Corporate
                  ul.sub-menu__content
                    li
                      a(href='#')
                        |  Corporate - Layout 1
                    li
                      a(href='#')
                        |  Corporate - Layout 2
                    li
                      a(href='#')
                        |  Corporate - Layout 3
                    li
                      a(href='#')
                        |  Corporate - Layout 4
                li
                  a(href="#") Home - Blog
                li
                  a(href="#") Home - Portfolio
                li.has-sub-menu
                  a(href='#') Home - Fullscreen
                  ul.sub-menu__content
                    li
                      a(href='#') 
                        |  Fullscreen - Layout 1
                    li.has-sub-menu
                      a(href='#')
                        |  Fullscreen - Layout 2
                      ul.sub-menu__content
                        li
                          a(href='#')
                            |  Corporate - Layout 2.1
                        li
                          a(href='#')
                            |  Corporate - Layout 2.2
                        li
                          a(href='#')
                            |  Corporate - Layout 2.3
                        li
                          a(href='#')
                            |  Corporate - Layout 2.4
                    li
                      a(href='#')
                        |  Fullscreen - Layout 3
                    li
                      a(href='#')
                        |  Fullscreen - Layout 4
                li
                  a(href="#") Home - Event
                li
                  a(href="#") Home - Wedding 
                li
                  a(href="#") Home - Party
            li.mega-menu
              a(href="#") Pages
              .mega-menu__content
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      | Introduction
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          | About Us
                      li
                        a(href='about-2.html')
                          | About Us - Layout 2
                      li
                        a(href='about-me.html')
                          | About Me
                      li
                        a(href='team.html')
                          | Team Members
                      li
                        a(href='jobs.html')
                          | Careers
                      li
                        a(href='side-navigation.html')
                          | Side Navigation
                      li
                        a(href='page-submenu.html')
                          | Page Submenu
                      li
                        a(href='sitemap.html')
                          | Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Utility
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Layout Grids
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Miscellaneous
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
            li.mega-menu
              a(href="#") Portfolio
              .mega-menu__content
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      | Introduction
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          | About Us
                      li
                        a(href='about-2.html')
                          | About Us - Layout 2
                      li
                        a(href='about-me.html')
                          | About Me
                      li
                        a(href='team.html')
                          | Team Members
                      li
                        a(href='jobs.html')
                          | Careers
                      li
                        a(href='side-navigation.html')
                          | Side Navigation
                      li
                        a(href='page-submenu.html')
                          | Page Submenu
                      li
                        a(href='sitemap.html')
                          | Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Utility
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Layout Grids
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Miscellaneous
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
            li.mega-menu
              a(href="#") Blog
              .mega-menu__content
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      | Introduction
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          | About Us
                      li
                        a(href='about-2.html')
                          | About Us - Layout 2
                      li
                        a(href='about-me.html')
                          | About Me
                      li
                        a(href='team.html')
                          | Team Members
                      li
                        a(href='jobs.html')
                          | Careers
                      li
                        a(href='side-navigation.html')
                          | Side Navigation
                      li
                        a(href='page-submenu.html')
                          | Page Submenu
                      li
                        a(href='sitemap.html')
                          | Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Utility
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Layout Grids
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Miscellaneous
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap 
            li.sub-menu
              a(href='#') Shop
              ul.sub-menu__content
                li.has-sub-menu
                  a(href='#') Corporate
                  ul.sub-menu__content.sub-menu__content_left
                    li
                      a(href='#')
                        |  Corporate - Layout 1
                    li
                      a(href='#')
                        |  Corporate - Layout 2
                    li
                      a(href='#')
                        |  Corporate - Layout 3
                    li
                      a(href='#')
                        |  Corporate - Layout 4
                li
                  a(href="#") Home - Blog
                li
                  a(href="#") Home - Portfolio
                li.has-sub-menu
                  a(href='#') Home - Fullscreen
                  ul.sub-menu__content.sub-menu__content_left
                    li
                      a(href='#') 
                        |  Fullscreen - Layout 1
                    li
                      a(href='#')
                        |  Fullscreen - Layout 2
                    li
                      a(href='#')
                        |  Fullscreen - Layout 3
                    li
                      a(href='#')
                        |  Fullscreen - Layout 4
                li
                  a(href="#") Home - Event
                li
                  a(href="#") Home - Wedding 
                li
                  a(href="#") Home - Party
            li.mega-menu
              a(href="#") Shortcodes
              .mega-menu__content
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      | Introduction
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          | About Us
                      li
                        a(href='about-2.html')
                          | About Us - Layout 2
                      li
                        a(href='about-me.html')
                          | About Me
                      li
                        a(href='team.html')
                          | Team Members
                      li
                        a(href='jobs.html')
                          | Careers
                      li
                        a(href='side-navigation.html')
                          | Side Navigation
                      li
                        a(href='page-submenu.html')
                          | Page Submenu
                      li
                        a(href='sitemap.html')
                          | Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Utility
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Layout Grids
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Miscellaneous
                    ul.mega-menu__dropdown
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
            
        #header-search
          <i class="fas fa-search"></i>
        #header-cart    
          <i class="fas fa-shopping-cart"></i>
