header
  .header-wrapper
    .container.header-container
      //- menu-trigger-button
      a#menu-trigger-button
        i.fas.fa-align-justify
      //- logo
      #logo
        a(class="black-logo" href="index.html")
          img(src="assets/img/black-logo.png", alt="black-logo")
        a(class="white-logo" href="index.html")
          img(src="assets/img/white-logo.png", alt="white-logo")  
      //- header-menu
      .nav-wrapper
        nav#header-menu
          ul
            li
              a(href='#') Home
              ul(style={display:'none'})
                li
                  a(href='#') Home - Corporate
                  ul
                    li
                      a(href='#')
                        Corporate - Layout 1
                    li
                      a(href='#')
                        Corporate - Layout 2
                    li
                      a(href='#')
                        Corporate - Layout 3
                    li
                      a(href='#')
                        Corporate - Layout 4
                li
                  a(href="#") Home - Blog
                li
                  a(href="#") Home - Portfolio
                li
                  a(href='#') Home - Fullscreen
                  ul
                    li
                      a(href='#') 
                        Fullscreen - Layout 1
                    li
                      a(href='#')
                        Fullscreen - Layout 2
                    li
                      a(href='#')
                        Fullscreen - Layout 3
                    li
                      a(href='#')
                        Fullscreen - Layout 4
                li
                  a(href="#") Home - Event
                li
                  a(href="#") Home - Wedding 
                li
                  a(href="#") Home - Party
            li
              a(href='#') Features
              ul(style={display:'none'})
                li
                  a(href='#') Home - Corporate
                  ul
                    li
                      a(href='#')
                        Corporate - Layout 1
                    li
                      a(href='#')
                        Corporate - Layout 2
                    li
                      a(href='#')
                        Corporate - Layout 3
                    li
                      a(href='#')
                        Corporate - Layout 4
                li
                  a(href="#") Home - Blog
                li
                  a(href="#") Home - Portfolio
                li
                  a(href='#') Home - Fullscreen
                  ul
                    li
                      a(href='#') 
                        Fullscreen - Layout 1
                    li
                      a(href='#')
                        Fullscreen - Layout 2
                      ul
                        li
                          a(href='#')
                            Corporate - Layout 2.1
                        li
                          a(href='#')
                            Corporate - Layout 2.2
                        li
                          a(href='#')
                            Corporate - Layout 2.3
                        li
                          a(href='#')
                            Corporate - Layout 2.4
                    li
                      a(href='#')
                        Fullscreen - Layout 3
                    li
                      a(href='#')
                        Fullscreen - Layout 4
                li
                  a(href="#") Home - Event
                li
                  a(href="#") Home - Wedding 
                li
                  a(href="#") Home - Party
            li.mega-menu
              a(href="#") Pages
              .mega-menu__content(style={display:'none'})
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Introduction
                    ul
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Utility
                    ul
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Layout Grids
                    ul
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Miscellaneous
                    ul
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
            li.mega-menu
              a(href="#") Portfolio
              .mega-menu__content(style={display:'none'})
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Introduction
                    ul
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Utility
                    ul
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Layout Grids
                    ul
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Miscellaneous
                    ul
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
            li.mega-menu
              a(href="#") Blog
              .mega-menu__content(style={display:'none'})
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Introduction
                    ul
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Utility
                    ul
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Layout Grids
                    ul
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
                ul.mega-menu__column.col-lg-3
                  li.mega-menu__title
                    a(href='#')
                      div Miscellaneous
                    ul
                      li
                        a(href='about.html')
                          div About Us
                      li
                        a(href='about-2.html')
                          div About Us - Layout 2
                      li
                        a(href='about-me.html')
                          div About Me
                      li
                        a(href='team.html')
                          div Team Members
                      li
                        a(href='jobs.html')
                          div Careers
                      li
                        a(href='side-navigation.html')
                          div Side Navigation
                      li
                        a(href='page-submenu.html')
                          div Page Submenu
                      li
                        a(href='sitemap.html')
                          div Sitemap
            li
              a(href='#') Shop
              ul(style={display:'none'})
                li
                  a(href='#')  - Corporate
                  ul
                    li
                      a(href='#')
                        Corporate - Layout 1
                    li
                      a(href='#')
                        Corporate - Layout 2
                    li
                      a(href='#')
                        Corporate - Layout 3
                    li
                      a(href='#')
                        Corporate - Layout 4
                li
                  a(href="#") Home - Blog
                li
                  a(href="#") Home - Portfolio
                li
                  a(href='#') Home - Fullscreen
                  ul
                    li
                      a(href='#') 
                        Fullscreen - Layout 1
                    li
                      a(href='#')
                        Fullscreen - Layout 2
                    li
                      a(href='#')
                        Fullscreen - Layout 3
                    li
                      a(href='#')
                        Fullscreen - Layout 4
                li
                  a(href="#") Home - Event
                li
                  a(href="#") Home - Wedding 
                li
                  a(href="#") Home - Party
        #header-search
          <i class="fas fa-search"></i>
        #header-cart    
          <i class="fas fa-shopping-cart"></i>
