#list.list-wrapper
    .container
        .row
            .col-sm-12.col-md-4
                .list-item
                    .heading-block
                        span
                            i.fa.fa-star
                        h3 Resposive Layout
                    p
                        | Powerful Layout with Responsive functionality that can be adapted to any screen size.
                .list-item
                    .heading-block
                        span
                            i.fa.fa-star
                        h3 Resposive Layout
                    p
                        | Powerful Layout with Responsive functionality that can be adapted to any screen size.
                .list-item
                    .heading-block
                        span
                            i.fa.fa-star
                        h3 Resposive Layout
                    p
                        | Powerful Layout with Responsive functionality that can be adapted to any screen size.
            .col-sm-12.col-md-4
                .list-item
                    .heading-block
                        span
                            i.fa.fa-star
                        h3 Resposive Layout
                    p
                        | Powerful Layout with Responsive functionality that can be adapted to any screen size.
                .list-item
                    .heading-block
                        span
                            i.fa.fa-star
                        h3 Resposive Layout
                    p
                        | Powerful Layout with Responsive functionality that can be adapted to any screen size.
                .list-item
                    .heading-block
                        span
                            i.fa.fa-star
                        h3 Resposive Layout
                    p
                        | Powerful Layout with Responsive functionality that can be adapted to any screen size.
            .col-sm-12.col-md-4
                .list-item
                    .heading-block
                        span
                            i.fa.fa-star
                        h3 Resposive Layout
                    p
                        | Powerful Layout with Responsive functionality that can be adapted to any screen size.
                .list-item
                    .heading-block
                        span
                            i.fa.fa-star
                        h3 Resposive Layout
                    p
                        | Powerful Layout with Responsive functionality that can be adapted to any screen size.
                .list-item
                    .heading-block
                        span
                            i.fa.fa-star
                        h3 Resposive Layout
                    p
                        | Powerful Layout with Responsive functionality that can be adapted to any screen size.
      
