#number
    .number-wrapper
        .row
            .mod-column.col-lg-3.col-md-6.dark(style='background-color: #515875;')
                i.fa.fa-compass
                .counter
                    | 846K        
                h5 Lines of Codes
            .mod-column.col-lg-3.col-md-6.dark(style='background-color: #576f9a;')
                i.fa.fa-chart-line
                .counter 
                    | 21500              
                h5 KBs of HTML Files
            .mod-column.col-lg-3.col-md-6.dark(style='background-color: #6697b9;')
                i.fa.fa-layer-group
                .counter.counter-lined  
                    | 408      
                h5 No. of Templates
            .mod-column.col-lg-3.col-md-6.dark(style='background-color: #88c3d8;')
                i.far.fa-clock
                .counter 
                    | 1400      
                h5 Hours of Coding
