#posts
    .posts-wrapper
        .container
            .row
                .col-lg-3.col-md-6.mb-50
                    img(src="../assets/img/thumb01.jpg", alt="thumb-pic")
                    h3.posts__title
                        | Bloomberg smart cities; change-makers economic security
                    p.posts__time
                        i.far.fa-calendar-alt
                        | 13th Jun 2014 / 
                        i.fas.fa-comments
                        | 53
                    p.posts__description
                        | Prevention effect, advocate dialogue rural development lifting people up community civil society. Catalyst, grantees leverage.
                .col-lg-3.col-md-6.mb-50
                    img(src="../assets/img/thumb02.jpg", alt="thumb-pic")
                    h3.posts__title
                        | Bloomberg smart cities; change-makers economic security
                    p.posts__time
                        i.far.fa-calendar-alt
                        | 13th Jun 2014 / 
                        i.fas.fa-comments
                        | 53
                    p.posts__description
                        | Prevention effect, advocate dialogue rural development lifting people up community civil society. Catalyst, grantees leverage.
                .col-lg-3.col-md-6.mb-50
                    img(src="../assets/img/thumb03.jpg", alt="thumb-pic")
                    h3.posts__title
                        | Bloomberg smart cities; change-makers economic security
                    p.posts__time
                        i.far.fa-calendar-alt
                        | 13th Jun 2014 / 
                        i.fas.fa-comments
                        | 53
                    p.posts__description
                        | Prevention effect, advocate dialogue rural development lifting people up community civil society. Catalyst, grantees leverage.
                .col-lg-3.col-md-6.mb-50
                    img(src="../assets/img/thumb04.jpg", alt="thumb-pic")
                    h3.posts__title
                        | Bloomberg smart cities; change-makers economic security
                    p.posts__time
                        i.far.fa-calendar-alt
                        | 13th Jun 2014 / 
                        i.fas.fa-comments
                        | 53
                    p.posts__description
                        | Prevention effect, advocate dialogue rural development lifting people up community civil society. Catalyst, grantees leverage.



