section#slider
    div.slider-wrapper
        img(src="assets/img/slider.jpg", alt="slider-background")
        .slider__caption
            h2 Welcome to canvas
            p Create just what you need for your Perfect Website. Choose from a wide range of Elements & simply put them on your own 
        a.slider__scroll-down(href="#")
            i.fas.fa-angle-down.infinite.animated.fadeInDown