#team.team-wrapper
    .heading-block
        h3 Meet our team
    .container
        .row
            .col-lg-3.col-md-6
                .team__member
                    img(src="../assets/img/team03.jpg", alt="team-member")
                    p.team__member-name John Doe
                    p.team__member-position CEO
                    p.team__member-social
                        a.social-icon
                            i.fab.fa-facebook-f
                        a.social-icon
                            i.fab.fa-twitter
                        a.social-icon
                            i.fab.fa-google-plus-g
            .col-lg-3.col-md-6
                .team__member
                    img(src="../assets/img/team02.jpg", alt="team-member")
                    p.team__member-name Josh Clark
                    p.team__member-position Co-Founder
                    p.team__member-social
                        a.social-icon
                            i.fab.fa-facebook-f
                        a.social-icon
                            i.fab.fa-twitter
                        a.social-icon
                            i.fab.fa-google-plus-g
            .col-lg-3.col-md-6
                .team__member
                    img(src="../assets/img/team08.jpg", alt="team-member")
                    p.team__member-name Mary Jane
                    p.team__member-position Sales
                    p.team__member-social
                        a.social-icon
                            i.fab.fa-facebook-f
                        a.social-icon
                            i.fab.fa-twitter
                        a.social-icon
                            i.fab.fa-google-plus-g
            .col-lg-3.col-md-6
                .team__member
                    img(src="../assets/img/team04.jpg", alt="team-member")
                    p.team__member-name Nix Maxwell
                    p.team__member-position Support
                    p.team__member-social
                        a.social-icon
                            i.fab.fa-facebook-f
                        a.social-icon
                            i.fab.fa-twitter
                        a.social-icon
                            i.fab.fa-google-plus-g
