#videos
    .videos-wrapper
        .row
            .col-lg-6.image 
            .col-lg-6.videos
                .videos__heading-block
                    span Easily Understandable & Customizable.
                    h3 Walkthrough Videos & Demos
                .videos__modal
                    img.videos__background(src="../assets/img/video.jpg", alt="video-background")
                    .container
                        // Button trigger modal
                        button.btn.video-btn(type='button', data-toggle='modal', data-src='https://www.youtube.com/embed/IHNzOHi8sJs', data-target='#myModal')
                            img.videos__play-button(src="../assets/img/video-play.png", alt="video-play")
                        // Modal
                        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                            .modal-dialog(role='document')
                            .modal-content
                                .modal-body
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') &times;
                                // 16:9 aspect ratio
                                .embed-responsive.embed-responsive-16by9
                                    iframe#video.embed-responsive-item(src='', allowscriptaccess='always', allow='autoplay')
                    //- img.videos__play-button(src="../assets/img/video-play.png", alt="video-play", data-toggle="modal", data-src="https://www.youtube.com/embed/7c39lfT6Sr0", data-target="#myModal")
                    //- Modal
                p Democracy inspire breakthroughs, Rosa Parks; inspiration raise awareness natural resources. Governance impact; transformative donation philanthropy, respect reproductive.