#videos
    .videos-wrapper
        .row
            .col-lg-6.image 
            .col-lg-6.videos
                .videos__heading-block
                    span Easily Understandable & Customizable.
                    h3 Walkthrough Videos & Demos
                .videos__modal
                    img.videos__background(src="../assets/img/video.jpg", alt="video-background")
                    img.videos__play-button(src="../assets/img/video-play.png", alt="video-play")
                p Democracy inspire breakthroughs, Rosa Parks; inspiration raise awareness natural resources. Governance impact; transformative donation philanthropy, respect reproductive.