
#wellcome.wellcome-wrapper
    .container
        .row
            .col-xl-5
                .heading-block.topmargin
                    h1 Welcome to Canvas.   
                        br
                        | MultiPurpose Template.
                        
                p.lead
                    | Create a website that you are gonna be proud of. Be it Business, Portfolio, Agency,
                    | Photography, eCommerce &amp;much more.
            .col-xl-7
                img(src="../assets/img//wellcome.png", alt="wellcome-pic")
